<div class="row">
	<div class="col-md-6 statsBlock projectType">
		<div class="statsCard build">
			<span>50%</span><span><img class="svg-icon" src="app/resources/images/build.png"></span><span>BUILD</span>
		</div>
		<div class="statsCard run">
			<span>50%</span><span><img class="svg-icon" src="app/resources/images/run.png"></span><span>RUN</span>
		</div>
	</div>
	<div class="col-md-6 statsBlock projectStatus">
		<div class="statsCard smooth">
			<span>50%</span><span>SMOOTH</span>
		</div>
		<div class="statsCard warning">
			<span>50%</span><span>WARNING</span>
		</div>
		<div class="statsCard atRisk shake">
			<span>50%</span><span>AT RISK</span>
		</div>
	</div>
</div>